
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 10px;
  background-color: aquamarine;
  margin-bottom: 20px;
  
}

.title {
  margin-bottom: 15px;
}
.tag {
  background-color: chocolate;
  padding: 8px;
  color: #ffffff;
  margin-left: 5px;
}

.list {
  list-style: none;
  line-height: 25px;
}
    
/* 
  margin-bottom: 20px;


 li {
  padding: 8px 0;
} */